* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans" sans-serif;
    color: white;
}

body {
    background: url('Image/k4KkwyW.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blanc {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000070;
    z-index: -1;
}