* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open sans" sans-serif;
    color: #322;
}

body {
    background: url('Image/k4KkwyW.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}